<div class="banner">
    <div class="container">
        <div class="header">
            <h2>Crypto Checker</h2>
            <h6>Check all Crypto Currency Updates</h6>
        </div>

        <!-- SubHeader -->
        <div class="sub-header">
            <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" direction="left">
                <div class="row">
                    <ng-container *ngFor="let row of bannerData">
                        <div class="col-1">
                            <div class="card">
                                <img [src]="row.image" width="100" class="img-fluid" alt="Bannerdata">
                                <div class="card-body">
                                    <h5 class="card-title">{{row.symbol | uppercase}} <span class="text-danger">{{row.market_cap_change_percentage_24h}}%</span></h5>
                                </div>
                                <p class="card-text">{{row.current_price | currency: "USD"}}</p>
                            </div>
                        </div>

                    </ng-container>

                </div>
            </marquee>
        </div>
    </div>
</div>

<div class="container mt-3">
    <!-- Table -->

</div>